.App {
  text-align: center;
  margin: auto;

}
/* 
#baza{
  border: 2px solid red;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  width: 70%;

} */